* {
	--light-sea-green: #20A39E;
	--light-sea-green-clear: #20A39E88;

	--sunflower-gold: #FFBA49;
	--sunflower-gold-clear: #FFBA4988;
	
	--rebecca-purple: #642CA0;
	--rebecca-purple-clear: #642CA088;
}

body {
	display: flex;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

/* ************************************************************************** */
/*                                ASIDE DISPLAY                               */
/* ************************************************************************** */
aside {
	display: grid;
	grid-template-columns: 8fr 9fr;
	grid-template-rows: 2ch;
	width: 50vw;
	padding-top: 1ch;
}

h3 {
	justify-self: center;
	align-self: center;
}

ol {
	margin-right: 10px;
	border-right: 0.5ch solid black;
	border-radius: 2ch;
	overflow-y: scroll;
}

/* ***************************** HISTORY DISPLAY **************************** */
.historyCard,
.playerCard {
	border: 1ch solid;
	padding: 1ch;
	margin: 1ch;
	border-radius: 2ch;
	line-height: 1.2em;
	box-shadow: 5px 5px 10px lightgrey;
	overflow-x: auto;
}

/* ***************************** PLAYER DISPLAY ***************************** */
.playerCard:nth-child(odd) {
	border-color: var(--light-sea-green);
	background-color: var(--light-sea-green-clear);
}

.playerCard:nth-child(even) {
	border-color: var(--sunflower-gold);
	background-color: var(--sunflower-gold-clear);
}

.playerCard {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.5ch;
}

.playerCard p:first-child {
	grid-column: 1 / 4;
}

/* ************************************************************************** */
/*                                MAIN DISPLAY                                */
/* ************************************************************************** */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

#gameContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-content: center;
	width: 50vh;
	height: 50vh;
}

.gameTile {
	border: 1px solid green;
	width: 100%;
}